h1 {
    font-family: verdana;
}

#t-cines {
    font-family: Arial;
    padding-right: 20%;
    padding-left: 20%;
}

#t-movies {
    font-family: Arial;
    padding-right: 15%;
    padding-left: 15%;
}

.linkcine {
	color: black;
}

.linkmov {
  color: black;
}

.cine {
  width: 100%;
}

.movie {
	width:100%;
	height:auto;
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: verdana;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#comentario {
  resize: none;
}

.cabezacom {
  border-radius: 15px;
  color: white;
  padding: 5px;
  background-color: black;
}

.comentario {
  border-radius: 15px 50px 30px 5px;
  width: 723px;
  height: 66px;
  border-left-style: solid;
  border-left-color: black;
}

.cuerpocom {
  padding: 5px;
}

.pel {
  padding-bottom: 10px;
}

#submitpel {
  padding-top: 10px;
}

.rightdiv {
  text-align: right;
}

.centerdiv {
  text-align: center;
}

.paddbut {
  padding-top: 10px;
}
